body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-family: "Segoe UI Variable Text",
        "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
}

a {
  color: #0077aa;
  text-decoration: none;
}


a:hover {
  color:#4882e0;
}

details {
    background-color: #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}


h1, h2, h3 {
  line-height: 1.2;
}

.dongle {
  color: #006cf3;
}

ul {
    list-style-type: none;
}


li::before {
    content: "- ";
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: white;
    }
    a {
        color: #3391ff;
    }
    details {
        background-color: #555555;
    }
}
